/* Colour Scheme
    Dark Grey - #2c2c2c;
    Menu link - #ccc;
    Light Grey - #d8d8d8;
    Card Grey - #ececec;
    Carousel buttons - #616161;
    Small icons - #999999;
    Badge Purpleish - #78387b;
    Soon label - #094a77;
    Add to cart gradient - #bde94f to #82b12b;
    Get it free button - #bee500 to #8ebd00;
    Nav purple - #db88e5;

*/

/* GLOBAL STYLING */

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #d8d8d8;
}

.container {
  max-width: 1180px;
}

.spacer {
  height: 60px;
}

.grey-brdr-b {
  border-bottom: 1px solid rgb(190, 190, 190);
}

.grey-brdr-t {
  border-top: 1px solid rgb(190, 190, 190);
}

.grey-brdr-l {
  border-left: 1px solid rgb(190, 190, 190);
}

.grey-brdr-r {
  border-right: 1px solid rgb(190, 190, 190);
}

.text-black {
  color: #1b1b1b;
}

.text-white {
  color: #fff;
}

.text-sub-text {
  color: rgba(255, 255, 255, 0.5);
}

.text-purple {
  color: #78387b !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

/* NAVBAR STYLING */

.navbar::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 56px;
  background: url(assets/bg.jpg) repeat-x top center rgba(26, 26, 26, 0.9);
  z-index: -1;
}

.navbar a.nav-item,
a.nav-link,
.navbar form a {
  color: #ccc !important;
  text-decoration: none;
}

.navbar .dropdown-item {
  color: #2c2c2c !important;
  text-decoration: none;
  padding: 5px 15px 5px 12px;
  font-size: 14px;
  border-radius: 3px;
  transition: background-color 0.15s ease;
}

.navbar .dropdown-item:hover {
  background-color: #e7e7e7 !important;
  color: #2c2c2c !important;
}

.navbar .dropdown-menu:last-of-type p {
  font-size: 14px;
}

.navbar a:hover {
  color: #fff !important;
}

.navbar #store-nav-link a.dropdown-item::after {
  content: ">";
  color: #ccc;
  position: absolute;
  right: 20px;
  letter-spacing: -3px;
}
.navbar #store-nav-link a.dropdown-item:hover::after {
  content: ">>";
  color: #ccc;
  position: absolute;
  right: 20px;
  color: #2c2c2c !important;
}

.navbar {
  z-index: 9999;
  background: #2c2c2c;
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-container {
  width: 34px;
  height: 31px;
  padding: 2px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  margin-top: 2px;
}

#sign-in-link {
  color: #db88e5 !important;
}

#sign-in-link:hover {
  color: #f9b2ff !important;
}

.navbar-collapse {
  margin-top: 10px;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }

  .navbar-collapse {
    margin-top: 0px;
  }
  .navbar .dropdown-menu {
    padding: 8px;
    margin-left: -50%;
    width: 230px;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }

  .navbar .signin-dropdown {
    padding: 8px;
    margin-left: -185%;
    width: 500px;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }
  .navbar::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 56px;
    background: url(assets/bg.jpg) repeat-x top center rgba(26, 26, 26, 0.9);
    z-index: -1;
  }

  .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  @keyframes slidenavAnimation {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .navbar {
    background: rgba(0, 0, 0, 0);
  }
  .brand-container {
    margin-bottom: 8px;
    margin-right: 2.5rem;
    margin-top: 0px;
  }
}

.dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#bg-dim {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transform: all 1s ease;
}

.fade {
  opacity: 1 !important;
}

.navbar li {
  padding-bottom: 8px;
}

.navbar .first-link-txt {
  color: rgb(150, 95, 4) !important;
}

.navbar .first-link-txt:hover {
  color: rgb(150, 95, 4) !important;
}

.navbar .second-link-txt {
  color: rgb(84, 103, 133) !important;
}

.navbar .second-link-txt:hover {
  color: rgb(84, 103, 133) !important;
}

.navbar .third-link-txt {
  color: rgb(74, 181, 36) !important;
}

.navbar .third-link-txt:hover {
  color: rgb(74, 181, 36) !important;
}

.btn-create-account {
  width: 45%;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  line-height: 36px;
  font-size: 13px;
  text-decoration: rgb(76, 76, 76);
  margin: 0px 10px;
}

.btn-create-account:hover {
  background-image: linear-gradient(to bottom, #e6e6e6, #e1e1e1);
}

.btn-sign-in {
  width: 45%;
  line-height: 36px;
  font-size: 13px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    rgb(152, 95, 178) 0%,
    rgb(113, 59, 141) 100%
  );
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  margin: 0px 10px;
}
.btn-sign-in:hover {
  color: #fff;
}

/* Carousel section */

#main-carousel .carousel-control-next,
#main-carousel .carousel-control-prev {
  width: 3rem;
  height: 3rem;
  top: 40%;
  bottom: 40%;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8);
  margin: 0 -5rem;
}

.carousel-control-next-icon {
  margin-left: 2px;
}
.carousel-control-prev-icon {
  margin-left: -2px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li {
  background-color: rgb(151, 151, 151);
  width: 50px;
  height: 2px;
}

.carousel-indicators li.active {
  background-color: #78387b;
}

.carousel-item h2.main-text {
  position: absolute;
  left: -8rem;
  bottom: 0;
}

.carousel-item h2.sub-text-price {
  position: absolute;
  right: 5rem;
  bottom: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.carousel-item h2.sale-txt {
  position: absolute;
  right: 13.5rem;
  bottom: -5px;
  background-color: #78387b;
  padding: 4px 10px;
  border-radius: 4px;
}

.carousel-inner {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.soon-badge {
  background-color: #094a77;
  padding: 8px 16px;
  position: absolute;
  left: -8rem;
  top: -2.5rem;
  border-radius: 3px;
}

.carousel-sub-text {
  position: absolute;
  left: -2rem;
  top: -2.5rem;
}

.carousel-sub-text-nobadge {
  position: absolute;
  left: -8rem;
  top: -2.5rem;
}

.btn-add-to-cart {
  color: #fff;
  padding: 0.5rem 1.5rem;
  position: absolute;
  right: -9rem;
  bottom: 0;
  font-size: 1.5rem;
  margin-top: 1rem;
  background-color: #bde94f;
  background-image: linear-gradient(180deg, #bde94f 0%, #82b12b 100%);
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-add-to-cart:hover {
  background-color: #caf957;
  background-image: linear-gradient(180deg, #caf957 0%, #8bbd2f 100%);
  color: #fff;
}

.btn-browse {
  color: #fff;
  padding: 0.5rem 1.5rem;
  position: absolute;
  right: -9rem;
  bottom: 0;
  font-size: 1.5rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    rgb(152, 95, 178) 0%,
    rgb(113, 59, 141) 100%
  );
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-browse:hover {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    rgb(165, 102, 194) 0%,
    rgb(129, 66, 160) 100%
  );
  color: #fff;
}

/* Quad card section */

.card {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px !important;
  border: none !important;
  background-color: rgba(250, 250, 250, 0.6);
}

.card-body {
  padding: 0.5rem 1.2rem;
}

.card .sale-txt {
  background-color: #78387b;
  padding: 4px 8px;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
}

.card .sub-text-price {
  font-size: 18px;
}

.card .previous-price {
  text-decoration: line-through;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 13px;
  color: rgb(179, 179, 179) !important;
}

.card .icons {
  color: rgb(184, 184, 184);
  position: absolute;
  bottom: 6px;
  left: 12px;
}

.card .icons i {
  height: 16px;
  width: 16px;
}

/* DRM Free message section */

#drm-free {
  width: 100%;
  padding: 1rem 0rem;
}

#drm-free a {
  color: rgb(64, 64, 64);
  text-decoration: none;
}

/* PROMO BANNERS section */

#promo-banner .promo-banner-wrapper {
  position: relative;
}

#promo-banner .text-wrapper {
  position: absolute;
  left: 24px;
}

#promo-banner .text-wrapper h3 {
  font-size: 24px;
}

#promo-banner .text-wrapper h5 {
  font-size: 16px;
}

#promo-banner .btn-promo {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  background-color: transparent;
  position: absolute;
  right: 24px;
  height: 46px;
  min-width: 169px;
}

#promo-banner .btn-promo:hover {
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 100%, 0.3),
    0 0 40px 0 rgba(159, 191, 0, 0.5);
  border: 1px solid #8ebd00;
  border-radius: 3px;
  min-height: 46px;
  background: linear-gradient(-180deg, #bfe600, #8ebd00);
  color: #fff;
}

/* SALES sections */

#sales a {
  border: none;
  color: #686868 !important;
  border-bottom: 4px solid transparent;
}

#sales a.active {
  color: #78387b !important;
  border-bottom: 4px solid #78387b;
}

#sales .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
}

#sales .nav-tabs {
  border-bottom: 1px solid rgb(190, 190, 190);
}

#sales p.nav-link {
  border: none;
  color: #2c2c2c !important;
  margin: 0;
}

#sales h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#sales .card p {
  font-size: 16px;
  color: #ffec00;
}

#sales .card p:nth-child(4) {
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#sales h3 {
  font-size: 64px;
  color: #ffec00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#sales .content-wrapper {
  text-align: center;
  height: 100%;
}

#sales button {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 10px;
  min-width: 169px;
  transition: background-color 0.25s ease;
}

#sales button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#sales .img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}

#sales .card {
  border: none;
}

#sales .img-overlay-green {
  background-color: rgba(6, 22, 6, 0.6);
}

#sales .img-overlay-redish {
  background-color: rgba(85, 39, 41, 0.6);
}

#sales .img-overlay-paleblue {
  background-color: rgba(17, 27, 59, 0.6);
}

#sales .img-overlay-orange {
  background-color: rgba(54, 39, 15, 0.6);
}

#sales .mid-wrap {
  position: absolute;
  bottom: 140px;
}

#sales .bottom-wrap {
  position: absolute;
  bottom: 20px;
}

#sales .carousel-inner {
  box-shadow: none;
}

#sales .carousel-control-next,
#sales .carousel-control-prev {
  width: 2rem;
  height: 2rem;
  color: #1b1b1b;
  top: 40%;
  bottom: 40%;
  margin: 0 -5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

#sales .carousel-control-next-icon,
#sales .carousel-control-prev-icon {
  margin-top: 4px;
}
