/* Colour Scheme
    Dark Grey - #2c2c2c;
    Menu link - #ccc;
    Light Grey - #d8d8d8;
    Card Grey - #ececec;
    Carousel buttons - #616161;
    Small icons - #999999;
    Badge Purpleish - #78387b;
    Soon label - #094a77;
    Add to cart gradient - #bde94f to #82b12b;
    Get it free button - #bee500 to #8ebd00;
    Nav purple - #db88e5;

*/

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.navbar::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 56px;
  background: url(assets/bg.jpg) repeat-x top center rgba(26, 26, 26, 0.9);
  z-index: -1;
}

.navbar a {
  color: #ccc !important;
  text-decoration: none;
}

.navbar a:hover {
  color: #fff !important;
}

.navbar {
  z-index: 9999;
}

.brand-container {
  width: 34px;
  height: 31px;
  padding: 2px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
}

#sign-in-link {
  color: #db88e5 !important;
}

#sign-in-link:hover {
  color: #f9b2ff !important;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#bg-dim {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transform: all 1s ease;
}

.fade {
  opacity: 1 !important;
}
